@page "/counter"

<h1>Counter</h1>

<input type="text" disabled value="Lucas Feitosa de Lima"/>
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
